In [3]:
import re
import pandas as pd

### 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel.

In [4]:
def is_vowel(string):
    regex = r'[aeiou]'
    return bool(re.search(regex, string))

In [5]:
is_vowel('a')

True

### 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [6]:
regex = r'^[a-z\d_]+'
string = 'valid_username13'

In [7]:
re.findall(regex, string)

['valid_username13']

In [8]:
def is_valid_username(username):
    regex = r'^[a-z][a-z\d_]+'
    if len(username) > 32:
        return False
    else:
        return bool(re.search(regex, username))

In [9]:
print(is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'))
print(is_valid_username('codeup'))
print(is_valid_username('Codeup'))
print(is_valid_username('codeup123'))
print(is_valid_username('1codeup'))

False
True
False
True
False

### 3. Write a regular expression to capture phone numbers. It should match all of the following:
(210) 867 5309  
+1 210.867.5309  
867-5309  
210-867-5309

In [15]:
def is_valid_phone_number(s):
    # optional group for +#: (\+\d)?
    # optional group for ( or blank space: [( ]?
    # optional group for 3 numbers: (\d{3})?
    # 0 or more dashes, periods, spaces or ): [-. )]*
    # optional group of 3 numbers: (\d{3})?
    # mandatory dash, period, or space: [-. )]
    # mandatory group of four numbers: (\d{4})
    match = re.match(r'(\+\d)?[( ]?(\d{3})?[-. )]*(\d{3})[-. ](\d{4})', s)
    return bool(match)

In [11]:
is_valid_phone_number('(210) 867 5309')

True

In [12]:
is_valid_phone_number('+1 210.867.5309')

True

In [13]:
is_valid_phone_number('867-5309')

True

In [14]:
is_valid_phone_number('210-867-5309')

True

### 4. Use regular expressions to convert the dates below to the standardized year-month-day-format.

In [18]:
dates = pd.Series(['02/04/19', '02/05/19', '02/06/19', '02/07/19', '02/08/19', '02/09/19', '02/10/19'])
dates

0    02/04/19
1    02/05/19
2    02/06/19
3    02/07/19
4    02/08/19
5    02/09/19
6    02/10/19
dtype: object

In [19]:
dates.str.replace(r'(\d{2})/(\d{2})/(\d{2})', r'20\3-\1-\2')

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

### 5. Write a regex to extract the various parts of these logfile lines:  
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58  
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58  
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [21]:
logfile = '''GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'''

regex = r'''
(?P<method>[A-Z]+)
\s
(?P<path>.*)
\s
\[(?P<timestamp>.*)\]
\s
HTTP/1.1
\s
{(?P<status>\d+)}
\s
(?P<bytes_sent>\d+)
\s
"(?P<user_agent>.*)"
\s+
(?P<ip>\d{1,3}\.\d{1,3}\.\d{1,3})
'''

regex = re.compile(regex, re.VERBOSE)

df = pd.DataFrame()
df['line'] = logfile.strip().split('\n')
df = pd.concat([df, df.line.str.extract(regex)], axis=1)

In [22]:
df

,line,method,path,timestamp,status,bytes_sent,user_agent,ip
0,GET /api/v1/sales?page=86 [16/Apr/2019:193452+...,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,200,510348,python-requests/2.21.0,97.105.19
1,POST /users_accounts/file-upload [16/Apr/2019:...,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19
2,GET /api/v1/items?page=3 [16/Apr/2019:193453+0...,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,429,3561,python-requests/2.21.0,97.105.19

### 6. You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:  
* How many words have at least 3 vowels?
* How many words have at least 3 vowels in a row?
* How many words have at least 4 consonants in a row?
* How many words start and end with the same letter?
* How many words start and end with a vowel?
* How many words contain the same letter 3 times in a row?
* What other interesting patterns in words can you find?

In [52]:
words = pd.read_csv('/usr/share/dict/words', header = None, squeeze = True)

In [53]:
words

0                  A
1                  a
2                 aa
3                aal
4              aalii
             ...
235881        zythem
235882        Zythia
235883        zythum
235884       Zyzomys
235885    Zyzzogeton
Name: 0, Length: 235886, dtype: object

### How many words have at least 3 vowels?

In [32]:
three_plus_vowels = (words.str.count(r'[aeiou]') >= 3)
words[three_plus_vowels].head()

4         aalii
7      aardvark
8      aardwolf
10      Aaronic
11    Aaronical
Name: 0, dtype: object

In [33]:
three_plus_vowels.sum()

190293

### How many words have at least 3 vowels in a row?

In [34]:
words.str.count(r'[aeiou]{3}').sum()

6225.0

### How many words have at least 4 consonants in a row?

In [36]:
words.str.count(r'[^aeiou]{4}').sum()

20150.0

### How many words start and end with the same letter?

In [37]:
words.str.contains(r'^(.).*\1$').sum()

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

9916

### How many words start and end with a vowel?

In [38]:
words.str.contains(r'^[aeiou].*[aeiou]$').sum()

12351

### How many words contain the same letter three times in a row?

In [44]:
words.str.contains(r'(.)\1\1').sum()

7

### What other interesting patterns in words can you find?

In [64]:
# Words like japan
words[words.str.contains(r'^(jap)[a-z]')]

99546      japaconine
99547    japaconitine
99549           japan
99560        japanned
99562        japanner
99563       japannery
99571            jape
99572           japer
99573          japery
99579          japing
99580        japingly
99581          japish
99582        japishly
99583      japishness
99585        japonica
99592        japygoid
Name: 0, dtype: object

In [80]:
# Words with only consonants
words[words.str.lower().str.contains(r'^[^aeiou][^aeiou]+[^aeiou]$')]

28151      byth
37968       cly
46170       cry
46203     crypt
47267       cwm
          ...
233870     wynd
233873     wynn
233878     wyss
234250    xylyl
234260     xyst
Name: 0, Length: 116, dtype: object

In [81]:
# Words with only vowels
words[words.str.lower().str.contains(r'^[aeiou][aeiou]+[aeiou]$')]

65526     euouae
90469        iao
130193       oii
Name: 0, dtype: object