In [1]:
import re
import pandas as pd

### 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel.

In [22]:
def is_vowel(string):
    regex = r'[aeiou]'
    return bool(re.search(regex, string))

In [27]:
is_vowel('a')

True

### 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [31]:
regex = r'^[a-z\d_]+'
string = 'valid_username13'

In [32]:
re.findall(regex, string)

['valid_username13']

In [49]:
def is_valid_username(username):
    regex = r'^[a-z][a-z\d_]+'
    if len(username) > 32:
        return False
    else:
        return bool(re.search(regex, username))

In [53]:
print(is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'))
print(is_valid_username('codeup'))
print(is_valid_username('Codeup'))
print(is_valid_username('codeup123'))
print(is_valid_username('1codeup'))

False
True
False
True
False

### 3. Write a regular expression to capture phone numbers. It should match all of the following:
(210) 867 5309  
+1 210.867.5309  
867-5309  
210-867-5309

In [195]:
phone_number_re = re.compile(r'''
^
(?P<country_code>\+\d+)?
\D*?
(?P<area_code>\d{3})?
\D*?
(?P<exchange_code>\d{3})
\D*?
(?P<line_number>\d{4})
\D*
$
''', re.VERBOSE)

df = pd.DataFrame()
df['number'] = [
    '(210) 867 5309',
    '+1 210.867.5309',
    '867-5309',
    '210-867-5309',
]
pd.concat([df, df.number.str.extract(phone_number_re)], axis=1)

            number country_code area_code exchange_code line_number
0   (210) 867 5309          NaN       210           867        5309
1  +1 210.867.5309           +1       210           867        5309
2         867-5309          NaN       NaN           867        5309
3     210-867-5309          NaN       210           867        5309

In [181]:
regex = r'(\+\d+)?\D?(\d{3})\D*?(\d{3})\D*?(\d{4})\D*?$'
number = '+1 210.867.5309'

In [182]:
re.findall(regex, number)

[('+1', '210', '867', '5309')]

In [133]:
regex = r'[(]?[+]?[\d]+[.]?[-]?'
number = '+1 210.867.5309'

In [134]:
re.findall(regex, number)

['+1', '210.', '867.', '5309']